<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>GIS Anwendung</title>
    <%= stylesheet_link_tag "style" %>
	<link rel="shortcut icon" href="/assets/logo.png"/>
</head>
<body>
	<div id="header">
		<div>
            <a href="index.html" id="logo"><%= image_tag("logo.png", :alt => "logo") %></a>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="/students">Schüler</a>
				</li>
				<li class="selected">
					<a href="/teachers">Lehrer</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="leftcls">
		<h2>Profil erstellen</h2>
		<%= form_for @teacher do |t| %>
			<table border="0" cellpadding="0" cellspacing="10">
				<tr>
				<td><%= t.label :vorname ,"Vorname*" %></td>
				<td><%= t.text_field :vorname %></td>
				</tr>
				<tr>
				<td><%= t.label :nachname ,"Nachname*" %></td>
				<td><%= t.text_field :nachname %></td>
				</tr>
				<tr>
				<td><%= t.label :adresse ,"Adresse*" %></td>
				<td><%= t.text_field :adresse %></td>
				</tr>
				<tr>
				<td><%= t.label :fach ,"Fach*" %></td>
				<td><%= t.text_field :fach %></td>
				</tr>
				<tr>
				<td><%= t.label :tel ,"Tel.Nr.*" %></td>
				<td><%= t.text_field :tel %></td>
				</tr>
				<tr>
				<td><%= t.label :schultyp %></td>
				<td><%= t.text_field :schultyp %></td>
				</tr>
				<tr>
				<td><%= t.label :preis %></td>
				<td><%= t.text_field :preis %></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="4">
				<tr>
				<td><%= t.submit "Speichern" %></td>
				<td>
					<% flash.each do |key, value| %>
						<p><%= value %></p>
					<% end %>
				</td>
				<td>
					<% if @teacher.errors.any? %>
						<p>Bitte füllen Sie alle *Felder aus!</p>
					<% end %>
				</td>
				</tr>
			</table>
		<% end %>
		</div>
		<div class='rightcls'>
			
			<h2>Profil ändern / löschen</h2>
			<p style="color:red">TODO!!!</p>
			
		</div>
			
	
	<div class="cleaner"></div>

	<div id="footer">
		<div>
			<p>
				&#169; Denk &amp; Plocon 2013
			</p>
			
		</div>
	</div>
</body>
</html>
